{
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ]
    },
    "development": {
      "plugins": ["external-helpers", "transform-runtime"]
    },
    "production": {
      "plugins": ["external-helpers", "transform-runtime"]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": []
}